/* ! ---------------------------------------
! Общие параметры 
! ---------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: grey;
  font-weight: 400;
}
a::hover {
  color: #fff;
}

/* ! ----------------------------------------------------------------- 

! - свойства для главного блоке
? - свойства для дополнительного блока от главного
* - свойства для дополнительного блока от дополнительного блока

! ----------------------------------------------------------------- */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.hr {
  background: #fff;
  height: 1.2px;
}

/* ! ----------------------------------------------------------------- */

/*! Иконки */

.fa-github {
  color: #fff;
  font-size: 27px;
}
.fa-gitlab {
  color: #fff;
  font-size: 27px;
}
.fa-vk {
  color: #fff;
  font-size: 27px;
}

/* ! ---------------------------------------
! Главный страница - index  
! ---------------------------------------- */

/*! Главный блок */
.section__main {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000000;
}
.section__main-logo {
  width: 100%;
  position: fixed;
  height: 83px;
  background-color: #000;
  z-index: 1;
}

/*! Логотип - главного блока */
.section__main-logo-wrapper {
  position: fixed;
  margin: 2em;
  color: white;
  font-style: 16px;
  padding: 0 0 0 10px;
}
.logos-title {
  color: red;
  margin: 0;
  font-size: 16px;
}
#logos  {
  color: #fff;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 9px;
}
.logos {
  animation: logo 20s linear infinite;
  position: absolute;
  top: -23px;
  z-index: -1;
}
@keyframes logo  {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*! Блок - контакты */
.section__contact {
  background: #000;
}
.section__contact-container {
  width: 100%;
  padding: 130px 15px 90px 15px;
  margin-right: auto;
  margin-left: auto;
}
.section__contact-container h2 {
  width: 100%;
  color: red;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.section__contact-container .section__contact-block {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}
.section__contact-container .section__contact-block .section__contact-block-item {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 95px 0 10px;
  transition: all .5s ease-in-out;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper input,
.section__contact-container .section__contact-block .section__contact-block-wrapper.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper .section__contact-block-text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: all .5s ease-in-out;
  pointer-events: none;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper input:focus + .section__contact-block-text,
.section__contact-container .section__contact-block .section__contact-block-wrapper input:valid + .section__contact-block-text {
  top: -35px;
  left: -10px;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper .section__contact-block-line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all .5s ease-in-out;
  border-radius: 2px;
  pointer-events: none;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper input:focus ~ .section__contact-block-line,
.section__contact-container .section__contact-block .section__contact-block-wrapper input:valid ~ .section__contact-block-line {
  height: 100%;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper.textarea textarea {
  height: 100%;
  resize: none;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper textarea:focus + .section__contact-block-text,
.section__contact-container .section__contact-block .section__contact-block-wrapper textarea:valid + .section__contact-block-text {
  top: -35px;
  left: -10px;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper textarea:focus ~ .section__contact-block-line,
.section__contact-container .section__contact-block .section__contact-block-wrapper textarea:valid ~ .section__contact-block-line {
  height: 100%;
}
input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
  background: gray;
  transition: all .5s ease-in-out;
  margin-bottom: 30px;
}
input[type="submit"]:hover {
  background: #fff;
  transition: all .5s ease-in-out;
}

/*! кнопки */
.section__main-button-container {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__main-button-back {
  background-color: rgba(128, 128, 128, 1);
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
  transition: all .5s ease-in-out;
}
.section__main-button-back:hover {
  background-color: #fff;
  transition: all .5s ease-in-out;
}
.section__main-button-next {
  background-color: rgba(128, 128, 128, 1);
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
  transition: all .5s ease-in-out;
}
.section__main-button-next:hover {
  background-color: #fff;
  transition: all .5s ease-in-out;
}

/*! Подвал */
.section__footer {
  background-color: #000;
  padding-bottom: 30px;
}
.section__footer-title {
  text-align: left;
  width: 100%;
  padding: 20px 0;
}
.section__footer-title p {
  font-weight: lighter !important;
}
.section__footer-hr {
  background: #fff;
  height: 1.2px;
}
.section__footer-info {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.section__footer-info h4 {
  font-size: 18px;
  font-weight: 300;
  color: gray;
}
.section__footer-info p {
  color: #fff;
  font-weight: lighter;
}
.section__footer-info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}
.section__footer-info li:nth-child(1) {
  padding-left: 0;
}
.section__footer-info-title,
.section__footer-contact-title {
  padding-bottom: 20px;
}
.section__footer-info-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

/*!------------ Адаптация -------------- */

/*!------------ 1200px ------------*/
@media (min-width: 1200px) {
  .section__contact-container {
      max-width: 1140px;
  }
  .container {
      max-width: 1140px;
  }
  }
  @media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

/*!------------ 900px ------------*/
@media (max-width: 900px) {

  /*! Главный блок */
  .section__main-title-circle {
      display: none;
  }
  .section__footer-name-item {
      padding: 0 0 25px 0;
  }
  .section__footer-info-list {
      justify-content: flex-start;
      padding: 0 0 25px 0;
  }
  .section__footer-info-title {
      padding: 0 0 5px 0;
  }
  .section__footer-contact-title {
      padding: 0 0 5px 0;
  }
}

/*!------------ 760px ------------*/
@media(max-width: 760px) {
  .section__footer-title {
      text-align: center;
  }
}


/*!------------ 460px ------------*/
@media(max-width: 460px) {
  .section__footer-info {
      flex-direction: column;
  }
  .section__main-button-next {
    padding: 7px 20px;
    font-size: 17px;
  }
}


/*! ----------------------------------------------------------- */ 