/* ! ---------------------------------------
! Общие параметры 
! ---------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}
*::selection {
  background-color: red;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: grey;
}
a::hover {
  color: #fff;
}

/* ! ----------------------------------------------------------------- 

! - свойства для главного блоке
? - свойства для дополнительного блока от главного
* - свойства для дополнительного блока от дополнительного блока

! ----------------------------------------------------------------- */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.hr {
  background: #fff;
  height: 1.2px;
}

/* ! ----------------------------------------------------------------- */

/*! Иконки */

.fa-github {
  color: #fff;
  font-size: 27px;
}
.fa-gitlab {
  color: #fff;
  font-size: 27px;
}
.fa-vk {
  color: #fff;
  font-size: 27px;
}
.fa-bars {
  color: #fff;
  font-size: 28px;
}
.fa-times {
  color: #fff;
  font-size: 28px;
}
.fa-git-alt,
.fa-gulp,
.fa-sass {
  font-size: 30px;
}


/* ! ---------------------------------------
! Главный страница - index  
! ---------------------------------------- */

/*! Главный блок */
.section__main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
}
.section__main-logo {
  width: 100%;
  position: fixed;
  height: 83px;
  background-color: #000;
  z-index: 1;
}

/*! Логотип - главного блока */
.section__main-logo-wrapper {
  position: fixed;
  margin: 2em;
  color: white;
  font-style: 16px;
  padding: 0 0 0 10px;
}
.logos-title {
  color: red;
  margin: 0;
  font-size: 16px;
}
#logos  {
  color: #fff;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 9px;
}
.logos {
  animation: logo 20s linear infinite;
  position: absolute;
  top: -23px;
  z-index: -1;
}
@keyframes logo  {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*! Меню - главного блока */
.menu-open {
  position: absolute;
  margin: 25px 30px 0 0;
  right: 0;
  cursor: pointer;
}
.menu-close {
  position: absolute;
  margin: 25px 33px 0 0;
  right: 0;
  cursor: pointer;
}
.section__main-menu {
  position: fixed;
  width: 50%;
  height: 100vh;
  right: -50%;
  z-index: 2;
  background: #000;
  border-left: 2px solid #fff;
}
.menu-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.menu-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  margin: 4px 0;
  padding: 30px 0 16px 0;
}
.menu-links .link a {
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.section__main-menu-icons {
  position: fixed;
  bottom: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  padding-left: 21%;
}
.section__main-menu-icons .link a {
  margin: 20px;
  color: black;
}
.menu-link-1:hover,
.menu-link-2:hover,
.menu-link-3:hover,
.menu-link-4:hover,
.menu-link-5:hover {
  text-decoration: line-through;
}
.section__main-menu-title {
  margin-top: 20px;
  position: absolute;
  left: 0;
  /* top: 28em; */
  top: 47.5%;
  transform: rotate(270deg);
  color: red;
  cursor: not-allowed;
}

/* ! Блок с кругом и текстом */
.section__main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

/*? текст */
.section__main-title h1 {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase !important;
  color: red;
}
.section__main-title p {
  font-size: 16px;
}
.section__main-title .letter {
  display: inline-block;
  opacity: 0;
  font-size: 80px;
  color: white;
  font-family: "Times New Roman";
  text-transform: uppercase !important;
}
.section__main-title-wrapper {
  max-width: 550px;
  height: 370px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section__main-title-wrapper p {
  color: #c1c1c1;
  padding: 8px 0;
}
.section__main-title-wrapper-text {
  position: relative;
  color: red;
}
.section__main-title-wrapper-text::before,
.section__main-title-wrapper-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section__main-title-wrapper-text::before {
  left: 4px;
  text-shadow: -31px 0 rgb(0, 174, 255);
  background: black;
}
.section__main-title-wrapper-text::after {
  left: -3px;
  text-shadow: -3px 0 blue;
  background: black;
}
.section__main-title-wrapper-text::before {
  clip: rect(54px, 250px, 56px, 40px);
}
@keyframes noise-anim {
  0% {
    clip-path: inset(40% 0 61% 0);
  }
  20% {
    clip-path: inset(92% 0 1% 0);
  }
  40% {
    clip-path: inset(43% 0 1% 0);
  }
  60% {
    clip-path: inset(25% 0 58% 0);
  }
  80% {
    clip-path: inset(54% 0 7% 0);
  }
  100% {
    clip-path: inset(58% 0 43% 0);
  }
}
.section__main-title-wrapper-text::before {
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.section__main-title-wrapper-text::after {    
  animation: noise-anim 2s infinite linear alternate-reverse;
}

/*? круг */
.section__main-title-circle {
  min-width: 370px;
  height: 370px;
  margin-right: 20%;
}
.circle {
  margin: 0;
  padding: 0;
  position: absolute;
}
.circle img {
  width: 370px;
  height: 370px;
}
.circleOne img {
  animation: rotateFirstRing 2s linear infinite;
}
.circleTwo img {
  animation: rotateFirstRing 8s linear infinite;
}
@keyframes rotateFirstRing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*! Дополнительный символ внизу блока ( ссылка ) */  
.section__main-addText {
  position: absolute;
  left: 15px;
  bottom: 1em;
}
.section__main-addText a {
  color: white;
  font-style: italic;
}
.section__main-addText a:hover {
  color: #fff;
  text-decoration: underline;
}

/*! Дополнительные иконки с ссылками на контакты в блоке */
.section__main-addIcons {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 20px;
}
.section__main-addIcons ul {
  list-style: none;
}
.section__main-addIcons ul li {
  padding: 10px 0;
}
.section__main-addIcons ul li a {
  color: white;
}

/*! Переходный блок к блок - с белым фоном */
.section__transition__white {
  background-color: #fff;
}
.section__transition__white-container {
  width: 100%;
  height: 235px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.section__transition__white-container-number {
  display: flex;
  justify-content: start;
  align-items: start;
}
.section__transition__white-container-number-item {
  font-size: 30px;
  color: #c1c1c1;
}
.section__transition__white-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__transition__white-container-title-item {
  color: #000;
  font-size: 40px;
  font-weight: 600;
}
.section__transition__white-container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.section__transition__white-container-text-item {
  color: #000;
  font-size: 18px;
}

/*! Переходный блок к блок - с линиями */
.section__transition__line {
  background-color: #000;
}
.section__transition__line-container {
  width: 100%;
  height: 235px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.section__transition__line-container-number {
  display: flex;
  justify-content: start;
  align-items: start;
}
.section__transition__line-container-number-item {
  font-size: 30px;
  color: #c1c1c1;
}
.section__transition__line-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__transition__line-container-title-item {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.section__transition__line-container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #fff;
}
.section__transition__line-container-text-item {
  color: #fff;
  font-size: 18px;
}

/*! Блок - Об авторе */
.section__live {
  background-color: #000;
  padding: 35px 0 0 0;
}
.section__live-indent {
  width: 100%;
  height: 100px;
}

/*? calisthenica */

.section__live-calisthenica {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.section__live-calisthenica-block {
  width: 30%;
}
.section__live-calisthenica-block::before {
  content: "calisthenica";
  font-family: "Roboto Mono";
  font-size: 36px;
  color: #fff;
  position: absolute;
  display: block;
  top: 22%;
  left: 56%;
}
.section__live-calisthenica-block-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*? movie */
.section__live-movie {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.section__live-movie-block {
  width: 30%;
}
.section__live-movie-block::before {
  content: "movie";
  font-family: "Roboto Mono";
  font-size: 36px;
  color: #fff;
  position: absolute;
  display: block;
  top: 73%;
  left: 42%;
}
.section__live-movie-block-image {
  width: 150%;
  height: 150%;
  background-size: cover;
}

/*? music */
.section__live-music {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: 200px;
}
.section__live-music-block {
  width: 30%;
}
.section__live-music-block::before {
  content: "music";
  font-family: "Roboto Mono";
  font-size: 36px;
  color: #fff;
  position: absolute;
  display: block;
  top: 41%;
  left: 52%;
}
.section__live-music-block-image {
  width: 120%;
  height: 120%;
  background-size: cover;
  margin-right: 40px;
}


/*? programming */
.section__live-programming {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-left: 200px;
}
.section__live-programming-block {
  width: 30%;
}
.section__live-programming-block::before {
  content: "programming";
  font-family: "Roboto Mono";
  font-size: 36px;
  color: #fff;
  position: absolute;
  display: block;
  top: 20%;
  left: 49%;
}
.section__live-programming-block-image {
  width: 150%;
  height: 150%;
  background-size: cover;
}

/*! Блок - работы */
/*? Главная картинка с анимацией в блоке - работы */
.section__work {
  padding: 20px 0;
  width: 100%;
  background-color: #000;
}
.section__work-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__work-blocks {
  background: url(../images/work/3d.jpg) no-repeat;
  background-position: bottom center;
  background-color: #000;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.section__work-blocks__1 {
  width: 100%;
  display: flex;
}
.section__work-blocks__1 div {
  color: #000;
  font-size: 25px;
  background: #fff;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  animation: animate 10s linear infinite;
}
.section__work-blocks__2 div {
  color: #000;
  font-size: 25px;
  background: #fff;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  animation: animate2 10s linear infinite;
}
.section__work-blocks__1 div span {
  -webkit-text-stroke: .5px #000;
  color: transparent;
}
.section__work-blocks__2 div span {
  -webkit-text-stroke: .5px #000;
  color: transparent;
}
@keyframes animate {
  0% {
      transform: translateX(20%);
  }
  50% {
      transform: translateX(43%);
  }
  100% {
      transform: translateX(20%);
  }
}
@keyframes animate2 {
  0% {
      transform: translateX(43%);
  }
  50% {
      transform: translateX(20%);
  }
  100% {
      transform: translateX(43%);
  }
}
.section__work-blocks__1.text__1 {
  transform: rotate(-30deg) translateX(-200px) translateY(650px);
}
.section__work-blocks__2.text__2 {
  transform: rotate(26deg) translateX(10px) translateY(-39px);
}

/*? описание последний работы в блоке - работы */ 
.section__work-description {
  position: relative;
  max-width: 1140px;
  height: 300px;
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__work-description .section__work-description-container {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #fff;
}
.section__work-description .section__work-description-container .section__work-description-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: all .5s ease-in-out;
}
.section__work-description .section__work-description-container:hover .section__work-description-icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.section__work-description .section__work-description-container .section__work-description-icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: all .5s ease-in-out;
  color: #fff;
}
.section__work-description .section__work-description-container:hover .section__work-description-icon .fa {
  font-size: 40px;
  transition: all .5s ease-in-out;
}
.section__work-description .section__work-description-container .section__work-description-content {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
  opacity: 0;
}
.section__work-description .section__work-description-container:hover .section__work-description-content {
  top: 100px;
  opacity: 1;
}
.section__work-description .section__work-description-container .section__work-description-content h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 24px;
}
.section__work-description .section__work-description-container .section__work-description-content p {
  margin: 0;
  padding: 0;
  color: #fff;
}

/*? Заголовок к слайдеру в блоке - работы */
.section__work-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 0 30px 0;
}
.section__work-title-item {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

/*? Слайдер ( swiper ) в блоке - работы */ 
.swiper-container {
  width: 100%;
  height: 500px;
  z-index: 0;
}
.swiper-slide {
  font-size: 18px;
  background: #000;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
}
.swiper-control {
  position: relative;
  width: 200px;
  height: 30px;
  margin-left: auto;
  padding: 30px 0 10px 0;
  z-index: 0;
}
.swiper-control .swiper-pagination {
  width: 100%;
  bottom: -5px;
  color: #fff;
}
.swiper-control .swiper-button-next {
  position: absolute;
  right: 0;
  top: 33px;
}
.swiper-control .swiper-button-next::after {
  content: url(../images/work/arrow/arrow-right.png);
}
.swiper-control .swiper-button-prev {
  position: absolute;
  left: 0;
  top: 33px;
}
.swiper-control .swiper-button-prev::after {
  content: url(../images/work/arrow/arrow-left.png);
}
.swiper__block {
  padding: 10px 5px 10px 5px;
}
.swiper__block-images {
  width: 300px;
  height: 200px;
  background-size: cover;
}
.swiper__block-title {
  width: 100%;
  height: 100%;
  text-align: center;
}
.swiper__block-text {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 20px;
}

/*! Блок - способности */
.section__skills {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.section__skills-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 75px 15px 30px 15px;
  margin-right: auto;
  margin-left: auto;
}
.section__skills-container .section__skills-block {
    /* width: 75%; */
    width: 100%;
    float: left;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section__skills-container .section__skills-block h2 {
  width: 70px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.section__skills-container .section__skills-block p {
  color: gray;
  padding: 40px 0 0 30px;
  width: 450px;
}
.section__skills-container .section__skills-block .section__skills-block-item {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 10%;
    text-align: center;
    font-size: 40px;
    line-height: 180px;
    color: #fff;
}
.section__skills-container .section__skills-block canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.section__skills-text {
  width: 100%;
  padding: 30px 0;
}
.skills__text {
  font-size: 19px;
  color: gray;
  line-height: 28px;
}
.section__skills-link {
  width: 100%;
  padding: 40px 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.section__skills-links {
  color: gray;
  transition: all .5s ease-in-out;
  font-size: 19px;
  line-height: 28px;
}
.section__skills-links:hover {
  color: #fff;
}

/*! Блок - контакты */
.section__contact {
  background: #000;
}
.section__contact-container {
  width: 100%;
  padding: 60px 15px 90px 15px;
  margin-right: auto;
  margin-left: auto;
}
.section__contact-container h2 {
    width: 100%;
    color: red;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.section__contact-container .section__contact-block {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}
.section__contact-container .section__contact-block .section__contact-block-item {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 95px 0 10px;
    transition: all .5s ease-in-out;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper input,
.section__contact-container .section__contact-block .section__contact-block-wrapper.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper .section__contact-block-text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: all .5s ease-in-out;
    pointer-events: none;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper input:focus + .section__contact-block-text,
.section__contact-container .section__contact-block .section__contact-block-wrapper input:valid + .section__contact-block-text {
    top: -35px;
    left: -10px;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper .section__contact-block-line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all .5s ease-in-out;
    border-radius: 2px;
    pointer-events: none;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper input:focus ~ .section__contact-block-line,
.section__contact-container .section__contact-block .section__contact-block-wrapper input:valid ~ .section__contact-block-line {
    height: 100%;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper.textarea textarea {
    height: 100%;
    resize: none;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper textarea:focus + .section__contact-block-text,
.section__contact-container .section__contact-block .section__contact-block-wrapper textarea:valid + .section__contact-block-text {
    top: -35px;
    left: -10px;
}
.section__contact-container .section__contact-block .section__contact-block-wrapper textarea:focus ~ .section__contact-block-line,
.section__contact-container .section__contact-block .section__contact-block-wrapper textarea:valid ~ .section__contact-block-line {
    height: 100%;
}
input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 2px;
    background: gray;
    transition: all .5s ease-in-out;
}
input[type="submit"]:hover {
  background: #fff;
  transition: all .5s ease-in-out;
}

/*! Подвал */
.section__footer {
  background-color: #000;
  padding-bottom: 30px;
}
.section__footer-title {
  text-align: left;
  width: 100%;
  padding: 20px 0;
}
.section__footer-title p {
  font-weight: lighter !important;
}
.section__footer-hr {
  background: #fff;
  height: 1.2px;
}
.section__footer-info {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.section__footer-info h4 {
  font-size: 18px;
  font-weight: lighter;
  color: gray;
}
.section__footer-info p {
  color: #fff;
  font-weight: lighter;
}
.section__footer-info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}
.section__footer-info li:nth-child(1) {
  padding-left: 0;
}
.section__footer-info-title,
.section__footer-contact-title {
  padding-bottom: 20px;
}
.section__footer-info-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

/*!------------ Адаптация -------------- */

/*!------------ 1200px ------------*/
@media (min-width: 1200px) {
  .section__contact-container {
    max-width: 1140px;
  }
  .section__skills-container {
    max-width: 1140px;
  }
  .container {
    max-width: 1140px;
  }
}

/*!------------ 900px ------------*/
@media (max-width: 900px) {

  /*! Бургер меню */
  .section__main-menu {
    width: 100%;
    right: -100%;
  }
  .section__main-menu-icons {
    display: none;
  }

  /*! Главный блок */
  .section__main-title-circle {
    display: none;
  }
  .brand-logo {
    width: 100%;
  }
  .menu-links .link a {
    font-size: 24px;
    padding: 10px 0 16px 0;
  }
  .menu-links .menu-link-1 a::after,
  .menu-links .menu-link-2 a::after,
  .menu-links .menu-link-3 a::after,
  .menu-links .menu-link-4 a::after,
  .menu-links .menu-link-5 a::after {
    display: none;
  }
  .section__transition__white-container-text {
    display: none;
  }
  .section__transition__white-container {
    justify-content: space-evenly;
  }
  .section__transition__line-container-text {
    display: none;
  }
  .section__transition__line-container {
    justify-content: space-evenly;
  }
  .section__skills-block {
    flex-direction: column;
  }
  .section__skills-container .section__skills-block {
    align-items: center;
  }
  .section__skills-container .section__skills-block h2 {
    padding-top: 35px;
  }
  .section__skills-text {
    display: flex;
    justify-content: center;
  }
  .section__skills-text .skills__text {
    width: 80%;
    font-size: 16px;
  }
  .section__work-blocks__1.text__1 {
    display: none;
  }
  .section__work-blocks__2.text__2 {
    display: none;
  }
  .section__work-description {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .section__work-description {
    background-size: cover;
  }
  .section__footer-name-item {
    padding: 0 0 25px 0;
  }
  .section__footer-info-list {
    justify-content: flex-start;
    padding: 0 0 25px 0;
  }
  .section__footer-info-title {
    padding: 0 0 5px 0;
  }
  .section__footer-contact-title {
    padding: 0 0 5px 0;
  }
  .section__live-calisthenica-block {
    width: 45%;
  }
  .section__live-movie-block {
    width: 45%;
  }
  .section__live-music-block {
    width: 45%;
  }
  .section__live-music-block::before {
    left: 35%;
  }
  .section__live-programming-block {
    width: 45%;
  }
}

/*!------------ 760px ------------*/
@media(max-width: 760px) {
  .section__footer-title {
    text-align: center;
  }
  .section__live-calisthenica-block {
    width: 65%;
    overflow: hidden;
  }
  .section__live-calisthenica-block::before {
    display: none;
  }
  .section__live-movie-block {
    width: 55%;
    overflow: hidden;
  }
  .section__live-movie-block::before {
    display: none;
  }
  .section__live-music-block {
    width: 100%;
    overflow: hidden;
  }
  .section__live-music-block::before {
    display: none;
  }
  .section__live-programming-block {
    width: 100%;
    overflow: hidden;
  }
  .section__live-programming-block::before {
    display: none;
  }
}


/*!------------ 460px ------------*/
@media(max-width: 460px) {
  .section__footer-info {
    flex-direction: column;
  }
  .section__live-calisthenica-block {
    width: 100%;
    overflow: hidden;
  }
  .section__live-movie-block {
    width: 100%;
    overflow: hidden;
  }
  .section__live-music-block {
    width: 100%;
    overflow: hidden;
  }
  .section__live-programming-block {
    width: 100%;
    overflow: hidden;
  }
  .section__live-calisthenica,
  .section__live-movie,
  .section__live-music,
  .section__live-programming {
    padding: 0;
    justify-content: center;
  }
}

/*! ----------------------------------------------------------- */ 
